<section class="books-section">
  <script language="javascript" type="text/javascript">
    changeColor();
  </script>
  <h2 class="table-title">Books on my shelf </h2>
  <table class="books-table" id="user-books">
    <% current_user.requests.all.each do |request| %>
    	<tr>
        <td class="book-column column-date"><%=   request.request_date  %></td>
    		<td class="book-column column-title"><%=link_to request.book.title, request.book %></td>
    		<td class="book-column column-author"><%= request.book.author.name + " " + request.book.author.last_name %></td>
    		<td class="book-column column-status <%= request.status %>" id="request-status"><%=   request.status  %></td>
    	</tr>
    <% end %>
  </table>
</section>
