<section class="login-section">
  <h2 class="login-title">Welcome to The Library</h2>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="fields">
      <div class="field email-field">
        <%= f.email_field :email, autofocus: true, placeholder: "Email", class: "input"  %>
      </div>

      <div class="field password-field">
        <%= f.password_field :password, autocomplete: "off", placeholder: "Password", class: "input" %>
      </div>
      <div class="forgot-pass">I forgot my password</div>
    </div>
    <div class="login-button">
      <%= f.submit "Sign in", class: "button" %>
    </div>
    <div class="extra-border"></div>
  <% end %>
  <div class="not-account">
    Don't have an account? <%= link_to "SIGN UP", new_registration_path('user') %>
  </div>
</section>

